body {
  background-color: #ccc;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

/* .hidden {
  display: none;
}

.show {
  display: flex;
} */

.imagens img {
  /* border: solid 2px black; */
  height: 100px;
  width: 100px;
  display: block;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
