body {
  background-color: #ccc;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Arima+Madurai&display=swap");

h1 {
  font-size: 7em;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffeaa5;
  text-align: center;

  text-shadow: 0px 30px 5px rgb(74, 103, 106, 0.2);
  animation: floating-text 7s linear infinite;
}

@keyframes floating-text {
  0%,
  50%,
  100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
}

/*-----------------------*/
#by {
  font-family: "Arima Madurai", cursive;
  color: #4a676a;
  font-size: 10px;
  width: auto;
}

/*
light-blue: #C1D0D0;
dark-blue: #4A676A;
cream: #FFEAA5;
yellow: #FFB037;
*/

#player {
  background-color: rgb(255, 27, 0);

  height: 4vh;
  background: linear-gradient(
    135deg,
    #fa6501,
    #ff1c1c,
    #fd5f5f,
    #9c2121,
    #f1e1c2
  );
  background-size: 400% 400%;
  animation: bg_gradient 10s infinite ease;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "JetBrains Mono", monospace;

  color: #3f2f4f;
  user-select: none;
}

@keyframes bg_gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#cpu {
  background-color: rgb(255, 27, 0);

  height: 4vh;
  background: linear-gradient(
    135deg,
    #fa6501,
    #ff1c1c,
    #fd5f5f,
    #9c2121,
    #f1e1c2
  );
  background-size: 400% 400%;
  animation: bg_gradient 10s infinite ease;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "JetBrains Mono", monospace;

  color: #3f2f4f;
  user-select: none;
}

@keyframes bg_gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.placarBonito {
  border: solid black;
  width: 33px;
  height: 25px;
  border: solid 1px;
  box-shadow: 5px 5px 10px -1px black;
  position: absolute;
  left: 56.9%;
  top: 42%;
  margin-left: -110px;
  margin-top: -40px;
}

.placarBonitoCPU {
  border: solid black;
  width: 33px;
  height: 25px;
  border: solid 1px;
  box-shadow: 5px 5px 10px -1px black;
  position: absolute;
  left: 56.9%;
  top: 96.5%;
  margin-left: -110px;
  margin-top: -40px;
}
/* .hidden {
  display: none;
}

.show {
  display: flex;
} */

.imagens img {
  /* border: solid 2px black; */
  height: 90px;
  width: 90px;
  display: block;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}

h1 {
  font-family: Trebuchet MS, sans-serif;
  font-size: 35px;
  margin-left: 412px;
  width: 385px;
  width: 40%;
  text-align: center;
  background-color: rgb(255, 27, 0);
}

h1 span {
  display: inline-block;
  transition: all 1s ease-in-out;
}

h1:hover span {
  max-width: 999px;
  opacity: 1;
}

/* Oculta de inicio las letras */

.unit,
.unite,
.united,
.united-,
.united-na,
.united-nat,
.united-nati,
.united-natio,
.united-nation,
.united-nations {
  max-width: 0;
  opacity: 0;
}

/* Aplica un delay para crear el efecto "paso a paso" en lugar de mostrar todo de golpe" */

.u {
  color: rgb(253, 253, 253);
}

.un {
  color: rgb(253, 253, 255);
}

.uni {
  color: rgb(255, 255, 255);
}

.unit {
  color: rgb(255, 255, 255);
}

.unit {
  transition-delay: 0.48s;
  color: rgb(33, 102, 250);
}
.unite {
  transition-delay: 0.64s;
  color: rgb(33, 102, 250);
}
.united {
  transition-delay: 0.8s;
}
.united- {
  transition-delay: 0.96s;
}
.united-na {
  transition-delay: 1.12s;
}
.united-nat {
  transition-delay: 1.28s;
}
.united-nati {
  transition-delay: 1.44s;
}
.united-natio {
  transition-delay: 1.6s;
  color: white;
}
.united-nation {
  transition-delay: 1.76s;
  color: white;
}
.united-nations {
  transition-delay: 1.92s;
  color: white;
}

#pedraBtn,
#tesouraBtn,
#papelBtn {
  width: 100px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  color: white;
  border-radius: 10px;
  background: rgb(255, 27, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 27, 0, 1) 0%,
    rgba(251, 75, 2, 1) 100%
  );
}
#pedraBtn:hover,
#tesouraBtn:hover,
#papelBtn:hover {
  color: #f0094a;
  background: transparent;
  box-shadow: none;
}
#pedraBtn:before,
#pedraBtn:after,
#tesouraBtn:before,
#tesouraBtn:after,
#papelBtn:before,
#papelBtn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #f0094a;
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}
#pedraBtn:after,
#tesouraBtn:after,
#papelBtn:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
#pedraBtn:hover:before,
#pedraBtn:hover:after,
#tesouraBtn:hover:before,
#tesouraBtn:hover:after,
#papelBtn:hover:before,
#papelBtn:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
